[user]
  signingkey = ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIO835eZZyxiVHa/mq//RgtcxdZHDShd8du6j903Pek5B

[gpg]
  format = ssh

[gpg "ssh"]
  program = "/mnt/c/Users/coler/AppData/Local/1Password/app/8/op-ssh-sign-wsl"

[commit]
  gpgsign = true

